
:root{
    --overlay-color: #03a9f4
}


/* Text Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    cursor: pointer ;
}

.SA{
    border-radius: 90%;
    margin: 0;
    padding: 0;
}
.featured-item{
    margin-top: 50px;
    background: rgb(85, 46, 46);
    border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 20;
    mix-blend-mode: hard-light;
    line-height: 1.9;
    font-size: large;
}

.Headshot{
    position: absolute;
    z-index: 10;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 120%;
    display: flex;
    
}

.showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    z-index: 2;
    transition: 0.7s;
}

.showcase.active{
    right: 300px;
}


.logo{
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
}

.logo:hover{
    transform: skewY(-20deg);
    font-size: 40px;
}

.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.toggle{
    position: relative;
    width: 60px;
    filter: invert(1);
    height: 60px;
    background: url(./Hamburger.png);
    filter: invert(5);
    background-repeat: no-repeat ;
    background-size: 70px;
    background-position: center;
    cursor: pointer;
}


.toggle.active{
    background: url(./X.png);
    filter: invert(1);
    background-repeat: no-repeat ;
    background-size: 70px;
    background-position: center;
    cursor: pointer;

}



.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b8badd;
    mix-blend-mode: overlay;
    
}

.text{
    position: relative;
    z-index: 10;
}

.text h2{
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;

}

.text h2{
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    
}

.text p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;

}

.text  a{
    display: inline-block;
    font-size: 1em;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
}

.text a:hover{
    letter-spacing: 6px;
}

.social{
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.social li{
    list-style: none;

}

.social li a{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.4);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.4) translateY(-15px);
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 70px;

}

.menu ul{
    position: relative;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li:hover{
    color: #03a9f4;
    transform:  translateY(-5px);
    background-color: #03a9f4;

}


@media(max-width: 798px){
    .showcase, .showcase header{
        padding: 40px
    }

    .text h2{
        font-size: 3em;
    }

    .text h3{
        font-size: 2em;
    }
}

.featured-item{
    transition: 1s;
}

.featured-item:hover{
    transform: translateY(-15px);
}